@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
             
    --jet: #383838;
    --onyx: #2b2b2c;
    --eerie-black1: #202022;
    --eerie-black2: #1e1e1f;
    --smoky-black: #121212;
    --white1: #ffffff;
    --white2: #fafafa;
    --pink: #b41da1;
    --dark-pink: #6b2162;
    --light-gray: #d6d6d6;
    --light-gray70: #d6d6d6b3;
    --bittersweet-shimmer: #b84c4c;

    --ff-poppins: 'Poppins', sans-serif;

    --fs1: 24px;
    --fs2: 18px;
    --fs3: 17px;
    --fs4: 16px;
    --fs5: 15px;
    --fs6: 14px;
    --fs7: 13px;
    --fs8: 12px;

    --fw300: 300;
    --fw400: 400;
    --fw500: 500;
    --fw600: 600;

    --shadow1: -4px 8px 24px hsla(0, 0%, 0%, .25);
    --shadow2: 0px 16px 30px hsla(0, 0%, 0%, .25);
    --shadow3: 0px 16px 40px hsla(0, 0%, 0%, .25);
    --shadow4: 0px 25px 50px hsla(0, 0%, 0%, .15);
    --shadow5: 0px 24px 80px hsla(0, 0%, 0%, .25);

    --transition1: .25s ease;
    --transition2: .5s ease-in-out;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {text-decoration: none; }

li {list-style: none; }

img, ion-icon, a, button, time, span { display: block; }


.avatar{
    border-radius: 21%;

}
button {
    font: inherit;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
}

input, textarea {
    display: block;
    width: 100%;
    background: none;
    font: inherit;
}

::selection {
    background: var(--pink);
    color: var(--smoky-black);
}

:focus { outline-color: var(--pink); }

html { font-family: var(--ff-poppins); }

body { background: var(#ffffff); }

main {
    margin: 15px 12px;
    margin-bottom: 75px;
    min-width: 259px;
}

article {
    background: var(#ffffff);
    border: 1px solid var(--jet);
    border-radius: 20px;
    z-index: 1;
    padding: 15px;
}

    .sidebar.active { max-height: 405px; }

.separator {
    width: 100%;
    height: 1px;
    background: var(--jet);
    margin: 16px 0;
}



article { display: none; }

    article.active { 
        display: block;
        animation: fade .5s ease backwards;
    }

        @keyframes fade {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }

.h2, .h3, .h4, .h5 { 
    color: var(--white2);
    text-transform: capitalize;
}

    .h2 { font-size: var(--fs1); }
    .h3 { font-size: var(--fs2); }
    .h4 { font-size: var(--fs4); }
    .h5 { 
        font-size: var(--fs7);
        font-weight: var(--fw500); 
    }

.article-title {
    position: relative;
    padding-bottom: 7px;
    color: var(--smoky-black);
}

    .article-title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: black;
        border-radius: 3px;
    }

.article-title { margin-bottom: 30px; }



/*CONTACT*/

.mapbox {
    position: relative;
    height: 250px;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 30px;
    border: 1px solid var(--jet);
    overflow: hidden;
}

    .mapbox figure { height: 100%; }

    .mapbox iframe {
        width: 100%;
        height: 100%;
        border: none;
        filter: grayscale(1) invert(1);
    }

.contact-form { margin-bottom: 10px; }

.form-title { margin-bottom: 20px; }

.input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    margin-bottom: 25px;
}

.form-input {
    color: var(--smoky-black);
    font-size: var(--fs6);
    font-weight: var(--fw400);
    padding: 13px 20px;
    border: 1px solid var(--jet);
    border-radius: 14px;
    outline: none;
}

    .form-input::placeholder { font-weight: var(--fw500); }
    .form-input:focus { border-color: var(--pink); }
        .form-input:focus:invalid { border-color: var(--bittersweet-shimmer); }

textarea.form-input {
    min-height: 100px;
    height: 120px;
    max-height: 200px;
    resize: vertical;
    margin-bottom: 25px;
}

    textarea.form-input::-webkit-realizer { display: none; }

.form-btn {
    position: relative;
    width: 100%;
    background: var(--white1);
    color: var(--smoky-black);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 13px 20px;
    border-radius: 14px;
    font-size: var(--fs6);
    text-transform: capitalize;
    z-index: 1;  
    transition: var(--transition1);
}

    .form-btn::before {
        content: '';
        position: absolute;
        inset: 1px;
        border: #000 solid 1px;
        background: var(--white1);
        border-radius: inherit;
        z-index: -1;
        transition: var(--transition1);
    }


/*MEDIA QUERIES*/

@media (min-width: 450px) {
    .clients-item { min-width: calc(33.33% - 10px); }

    .project-img, .blog-banner-box { height: auto; }
}

@media (min-width: 580px) {
    :root {
        --fs1: 32px;
        --fs2: 24px;
        --fs3: 26px;
        --fs4: 18px;
        --fs6: 15px;
        --fs7: 15px;
        --fs8: 12px;
    }

    .sidebar, article {
        width: 520px;
        margin-inline: auto;
        padding: 30px;
    }

    .article-title {
        font-weight: var(--fw600);
        padding-bottom: 15px;
    }

        .article-title::after {
            width: 40px;
            height: 5px;
        }

    main {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .avatar-box { border-radius: 30px; }
        .avatar-box img { width: 120px; }

    .info-content .name { margin-bottom: 15px; }
    .info-content .title { padding: 5px 10px; }

    .info-more-btn {
        top: -30px;
        right: -30px;
        padding: 10px 15px;
    }

        .info-more-btn span {
            display: block;
            font-size: var(--fs8);
        }

        .info-more-btn ion-icon { display: none; }

    .separator { margin: 32px 0; }

    .mapbox {
        height: 380px;
        border-radius: 18px;
    }

    .input-wrapper {
        gap: 30px;
        margin-bottom: 30px;
    }

    .form-input { padding: 15px 20px; }

    textarea.form-input { margin-bottom: 30px; }

    .form-btn {
        --fs-6: 16px;
        padding: 16px 20px;
    }

        .form-btn ion-icon { font-size: 18px; }
}

@media (min-width: 768px) {

    .sidebar, article { width: 700px; }

    .has-scrollbar::-webkit-scrollbar-button { width: 100px; }

 
    .article-title { padding-bottom: 20px; }

    .input-wrapper { grid-template-columns: 1fr 1fr; }

    .form-btn {
        width: max-content;
        margin-left: auto;
    }
}

@media (min-width: 1024px) {

    :root {
        --shadow1: -4px 8px 24px hsla(0, 0%, 0%, .125);
        --shadow2: 0px 16px 30px hsla(0, 0%, 0%, .125);
        --shadow3: 0px 16px 40px hsla(0, 0%, 0%, .125);
    }

    article {
        width: 950px;
    }

    main { margin-bottom: 60px; }

    .main-content {
        position: relative;
        width: max-content;
        margin: auto;
    }
}




@media (min-width: 1250px) {


    .sidebar, article { width: auto; }

    article { min-height: 100%; }

    main {
        max-width: 1200px;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 25px;
    }

    .main-content {
        min-width: 75%;
        width: 75%;
        margin: 0;
    }



}